<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand">MIT Mysore</a>
    </nav>
    <div class="container-fluid">
        <div class="row my-2 justify-content-center">
            <div class="col-lg-6 col-md-7 col-sm-8 col-xs-10 mx-2 p-3 border rounded register-panel">
                <div class="text-center border border-top-0 border-right-0 border-left-0 mb-2">
                    <h4>Instructions</h4>
                </div>
                <div class="w-100"></div>
                <ol class="list-group list-group-flush">
                    <li class="list-group-item">{{test.title}}</li>
                    <li class="list-group-item">Test Duration: {{test.total_duration|date:"H:i:s"}}</li>
                    <li class="list-group-item">Number of questions: {{test.no_of_questions}}</li>
                    <li class="list-group-item">
                        1. The clock will be set at the server.
                        The countdown timer will be at the right top corner displaying remaining time.
                        When the timer reaches zero the test will be submited by itself.
                    </li>
                    <li class="list-group-item">
                        2. In case you exit out of the test, you can resume and submit within end time(i.e., if you
                        start test at 10:00am and the duration is 00:30:00, you have to end the test within 10:30am)
                    </li>
                    <li class="list-group-item">
                        3. The question menu will be at the top, you can navigate through questions.
                        You can navigate through next and previous questions by the buttons provided after each
                        question.
                    </li>
                    <li class="list-group-item">
                        4. The options you mark will be saved automatically.
                    </li>
                </ol>
            </div>
            <div class="w-100"></div>
            <div class="col-auto mt-2">
                <a class="btn btn-primary" href="/test/{{test.id}}">Start Test</a>
            </div>
        </div>
    </div>
</body>

</html>