<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script>
    function confirmPassword() {
      pwd_element = document.getElementById("pwd");
      confirm_pwd_element = document.getElementById("confirm_pwd");
      if (pwd_element.value == confirm_pwd_element.value) {
        document.getElementById("submit_button").disabled = false;
        document.getElementById("confirm_pwd_text").innerHTML = "";
      }
      if (pwd_element.value != confirm_pwd_element.value) {
        document.getElementById("submit_button").disabled = true;
        document.getElementById("confirm_pwd_text").innerHTML = "Doesn't match";
      }
    }
  </script>
</head>

<body>
  <div class="container">
    <div class="row mt-3 justify-content-center">
      <div class="col-suto">
        <h2>MITM Tests</h2>
      </div>
    </div>
    <div class="row mt-2 justify-content-center">
      <div class="col-lg-6 col-md-7 col-sm-8 col-xs-10 mx-2 p-3 border rounded">
        <div class="text-center border border-top-0 border-right-0 border-left-0 mb-2">
          <h5>Register</h5>
        </div>
        <div class="w-100"></div>
        <form action="/register" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" placeholder="Enter email" name="email" id="email"
              value="{% if email %}{{email}}{% endif %}" required />
            {% if email_exists %}
            <div>
              <small class="text-danger">Email already exists, <a href="/log-in">log-in</a></small>
            </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Enter name" name="name" id="name"
              value="{% if name %}{{name}}{% endif %}" required />
          </div>
          <div class="form-group">
            <label for="pwd">Password</label>
            <input oninput="confirmPassword()" type="password" class="form-control" placeholder="Enter password"
              name="password" id="pwd" required />
          </div>
          <div class="form-group">
            <label for="confirm_pwd">Confirm Password</label>
            <input oninput="confirmPassword()" type="password" class="form-control" placeholder="Confirm password"
              name="password" id="confirm_pwd" required />
            <div class="text-danger" id="confirm_pwd_text"></div>
          </div>
          <!-- <div class="form-group">
              <label for="institute_code">Institute Code</label>
              <input
                type="password"
                class="form-control"
                placeholder="Enter Institute Code"
                name="institute_code"
                id="institute_code"
              />
            </div> -->
          <button id="submit_button" type="submit" class="btn btn-primary" disabled>Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>